.auth__header {
    position: relative;
    margin: 0 -15px;
    padding: 20px 0;
    background: #f8f9fa;
}

.auth-back {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.auth {
    padding-bottom: 32px;
    background: #ffffff;
}
.auth__title {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #0b192c;
}

.auth-tabs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
    margin-bottom: 24px;
}
.auth-tabs::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 50%;
    height: 3px;
    transition: 0.3s ease-out;
    z-index: 5;
    background: #007aff;
}

.auth__content-options {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.auth__content-option {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    color: #007aff;
}
.auth__content-item {
    display: none;
}


.auth-tabs__tab {
    position: relative;
    padding-top: 20px;
    padding-bottom: 8px;
    width: 50%;
    border-bottom: 0.5px solid #485F7E;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    background: #fff;
    text-transform: uppercase;
    transition: 0.3s ease-out;
}

.auth__join-table {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.auth__join-title {
    display: block;
    margin-bottom: 12px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    color: #0b192c;
}
.auth__join-name {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    color: #007aff;
}
.auth__join-platform {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    width: 48%;
    border-radius: 2px;
    border: 1px solid #007aff;
    background: #ffffff;
}
.auth__join-platform:hover,
.auth__join-enter:hover {
    background: #007aff;
}
.auth__join-platform:hover .auth__join-name,
.auth__join-enter:hover {
    color: #ffffff;
}
.auth__join {
    margin-bottom: 24px;
}
.auth__join:last-child {
    margin-bottom: 0;
}
.auth__join-enter {
    margin-bottom: 13px;
    padding: 13px;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    border: 1px solid #007aff;
    color: #007aff;
    background: #ffffff;
}
.auth__join-enter:last-child {
    margin-bottom: 0;
}
.auth__join-icon {
    margin-right: 9px;
}
.auth__join-platform:first-child {
    width: 100%;
    margin-bottom: 12px;
}

.auth__form {
    margin-bottom: 16px;
}
.auth__form-input {
    display: block;
    width: 100%;
    border-radius: 2px;
    padding: 15px 12px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    border: 1px solid #858d97;
    color: #767676;
}
.auth__form-submit {
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    background: #007aff;
    color: #ffffff;
}
.auth__form-label {
    display: inline-block;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    color: #0b192c;
}
.auth__form-item {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}
.auth__form-item:last-child {
    margin-bottom: 0;
}
.auth__form-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}
.auth__form-show {
    background: none;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    color: #007aff;
}
.auth__form-bottom {
    text-align: right;
}
.auth__form-error {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    color: #de2b21;
}

.auth-mobile__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.auth-mobile__item:first-child {
    width: 28%;
}
.auth-mobile__item {
    width: 68%;
}

.auth__notify {
    margin: 0 -15px;
    padding: 15px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: center;
    color: #0b192c;
    background: #eec60a;
}

.auth--reset .auth__content-item {
    display: block;
}
.auth--reset .auth__form {
    padding-top: 24px;
    margin-bottom: 0;
}

.auth__info {
    margin-bottom: 21px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    color: #0b192c;
}

/* Состояния */
.auth__content-item.show {
    display: block;
}

.auth-tabs.active::before {
    opacity: 1;
    background: #007aff;
}
.auth-tabs__tab.active {
    color: #007aff;
}
.auth-tabs.active::before {
    left: 50%;
}

.auth__form-input.error {
    border-color: #de2b21;
}
.auth__form-item.error {
    margin-bottom: 0;
}

@media (max-width: 330px) {
    .auth__join-enter {
        padding: 13px 6px;
    }
}