/* Системные */

body {
    background: #f8f9fa !important;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
.container-small {
    margin: 0 auto;
    padding: 0 8px;
}
.main-wrapper {
    background: #f8f9fa !important;
    padding-bottom: 10px;
}

/* БЛОК ПРИЛОЖЕНИЕ */

.app-download {
    padding: 13px 0;
    background: #0b192c;
    width: 100%;
    border-bottom: 1px solid #485f7e;
}
.app-download__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.app-download__item {
    display: flex;
    align-items: center;
}
.app-download__desc {
    margin-left: 9px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    color: #ffffff;
}
.app-download__link {
    padding: 5px 12px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    color: #0B192C;
    background: #F0C806;
    border-radius: 12px;
    text-transform: uppercase;
}
.app-download__logo {
    width: 32px;
    height: 32px;
}

/* БЛОК ШАПКА*/

.header {
    padding: 10px 0;
    border-bottom: 1px solid #485f7e;
    background: #0b192c;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header__option {
    display: flex;
    margin-right: 13px;
}
.header__option:last-child {
    margin-right: 0;
}
.header__item--row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: block;
}

/* БЛОК МЕНЮ АККАУНТА */
.account-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 991;
    width: 100%;
    height: 100vh;
    padding-top: 39px;
    transition: 0.3s ease-out;
    visibility: hidden;
    transform: translateY(100%);
    background: #ffffff;
}
.account-menu__close {
    top: 20px;
    right: 18px;
    width: 17px;
    height: 17px;
}
.account-menu__status {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    color: #007aff;
}
.account-menu__header {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.account-menu__logo {
    margin-right: 6px;
    flex-shrink: 0;
}
.account-menu__item {
    border-bottom: 1px solid #e3e3e3;
    border-radius: 2px;
}
.account-menu__link {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 12px 30px 12px 8px;
}
.account-menu__next {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.account-menu__name {
    margin-bottom: 3px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0;
    color: #0b192c;
}
.account-menu__title {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    color: #0b192c;
}

/* БЛОК ГЛАВНОЕ МЕНЮ */

.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 901;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 25px;
    overflow: auto;
    transform: translateY(100%);
    visibility: hidden;
    transition: 0.3s ease-out;
    background: #ffffff;
}
.main-menu__title {
    margin-bottom: 25px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
}
.main-menu__item {
    margin-bottom: 40px;
}
.main-menu__close {
    top: 10px;
    right: 15px;
}
.main-menu__item-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 14px;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 2px;
}
.main-menu__item:last-child {
    margin-bottom: 0;
}
.main-menu__item-option:last-child {
    margin-bottom: 0;
}
.main-menu__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    margin-right: 12px;
}
.main-menu__item-value {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
    color: #0b192c;
}

/* БЛОК РАДИО-КНОПКА */

.radio {
    display: inline-flex;
    align-items: center;
}
.radio input {
    display: none;
}
.radio__anim {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 21px;
    border-radius: 20px;
}
.radio__anim::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -3px;
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgb(0 0 0 / 15%), 0 3px 1px rgb(0 0 0 / 6%);
    z-index: 5;
    transition: 0.2s ease-out;
}
.radio__anim::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    border-radius: 20px;
    transition: 0.2s ease-out;
}
.radio input:checked ~ .radio__anim::after {
    background: #007aff;
}
.radio input:checked ~ .radio__anim::before {
    transform: translateX(20px);
}

/* БЛОК КАЛЕНДАРЬ */

.litepicker .container__days .day-item.is-start-date {
    background: #007aff;
    border-radius: 2px;
}
.litepicker .container__days .day-item.is-range-date {
    background: rgba(0, 122, 255, 0.1);
    border-radius: 2px;
}
.litepicker .container__months {
    box-shadow: none;
}
.litepicker .container__months .month-item-header {
    margin-bottom: 8px;
    padding: 0;
}
.litepicker .container__days .day-item {
    margin-bottom: 4px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    color: #0b192c;
    height: 32px;
}
.litepicker .container__days .day-item.is-end-date {
    background: #007aff;
    outline: 2px solid rgba(0, 122, 255, 0.38);
    border-radius: 2px;
}
.litepicker .container__days .day-item.is-today {
    color: #007aff;
}
.litepicker .container__days .day-item.is-today.is-start-date {
    color: #ffffff;
}
.litepicker .container__months .month-item:last-child .button-next-month,
.litepicker .container__months .month-item:first-child .button-previous-month {
    visibility: hidden;
}

/* Стили для плашки закрытия */

.body-closer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-out;
    background: #1e1e1e;
}

/* Состояния  */

.main-menu.show,
.account-menu.show {
    transform: translateY(0);
    visibility: visible;
}
.body-closer.show {
    opacity: 0.8;
    visibility: visible;
}
.is-disabled {
    border: 1px solid #a1a9af !important;
    color: #a1a9af !important;
    background: #ffffff !important;
}
.status-is-completed {
    color: #0fa30c;
}
.status-is-cancelled {
    color: #de2b21;
}

/* Подписка */

.subscribe {
    padding-top: 15px;
    padding-bottom: 32px;
    background: #0b192c;
}
.subscribe__title {
    margin-bottom: 8px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    color: #f8f9fa;
}
.subscribe__desc {
    max-width: 260px;
    margin-bottom: 26px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    color: #f8f9fa;
}
.subscribe__form-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 12px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    background: #ffffff;
    color: #767676;
}
.subscribe__form-submit {
    width: 100%;
    padding: 15px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    border-radius: 2px;
    background: #007aff;
    color: #ffffff;
}

/* Тэг */
.hotel-tag {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0;
    border-radius: 2px;
    color: #0b192c;
}

/* Отзывы */
.hotel-rate {
    background: #007aff;
}
.hotel-rate__count {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #ffffff;
}

/* Шаги */

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 7px;
}
.steps__item {
    width: 33.333%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.steps__item.active .steps__name {
    color: #4cd964;
}
.steps__item.active .steps__icon svg {
    display: block;
}
.steps__item.active::before {
    background: #4cd964;
}
.steps__item.active .steps__icon::before {
    display: none;
}
.steps__item::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 50%;
    width: 100%;
    height: 2px;
}
.steps__item:last-child {
    margin-right: 0;
}
.steps__item:last-child::before {
    display: none;
}
.steps__icon {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #bdbdbd;
    margin-bottom: 2px;
}
.steps__item.active .steps__icon {
    background: #4cd964;
}
.steps__item.last-active::before {
    height: auto;
    background: none;
    border: 1px dashed #aaabab;
}
.steps__icon svg {
    display: none;
}
.steps__icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffffff;
}
.steps__item {
    text-align: center;
}
.steps__name {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0;
    text-align: center;
    color: #000000;
}

/*  */

.payment {

}

/* Недавно просмотренные отели */

.recent-hotels__title {
    margin-bottom: 9px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    color: #0b192c;
}
.recent-hotels__img {
    margin-bottom: 12px;
}
.recent-hotels__info-bottom,
.recent-hotels__info-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 6px;
}
.recent-hotels__name {
    margin-right: 7px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    color: #0b192c;
}
.recent-hotels__rating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.recent-hotels__rating-item {
    margin-right: 4px;
}
.recent-hotels__rating-item:last-child {
    margin-right: 0;
}
.recent-hotels__info-total,
.recent-hotels__info-service {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    color: #484848;
}
.recent-hotels__info-total {
    position: relative;
    padding-right: 10px;
    margin-right: 6px;
}
.recent-hotels__info-total::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background: #484848;
}

/* Возможности */

.benefits {
    padding: 24px 0;
    background: #ffffff;
    border: 1px solid #dadada;
    margin-bottom: 10px;
}
.benefits__item {
    width: 100%;
    position: relative;
    padding-left: 25px;
    margin-bottom: 16px;
}
.benefits__item:last-child {
    margin-bottom: 0;
}
.benefits__desc {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: #333333;
}
.benefits__desc-span {
    font-weight: 600;
}
.benefits__icon {
    position: absolute;
    top: 2px;
    left: 0;
    flex-shrink: 0;
}

/* БЛОК ПОИСКА (МАЛЕНЬКИЙ) */

.search-mini {
    padding: 20px 0;
    background: #0b192c;
}
.search-mini__field {
    position: relative;
    margin-bottom: 8px;
    width: 100%;
}
.search-mini__row .search-mini__icon {
    right: auto;
    left: 11px;
    top: 45%;
}
.search-mini__row .search-mini__field {
    margin-bottom: 0;
}
.search-mini__row .search-mini__field:first-child {
    width: 60%;
}
.search-mini__row .search-mini__field:last-child {
    width: 40%;
}
.search-mini__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 2px;
    background: #ffffff;
}
.search-mini__row-input {
    padding: 15px 13px 15px 33px;
    width: 100%;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    color: #333333;

}
.search-mini__icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.search-mini__field:last-child {
    margin-bottom: 0;
}
.search-mini__input {
    padding: 15px 13px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    width: 100%;
    color: #767676;
    background: #ffffff;
}

/* БЛОК КНОПКА (кнопка сплошная (синия)) */
.site-btn {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    border-radius: 2px;
    color: #ffffff;
    background: #007aff;
}

/* БЛОК КНОПКА (кнопка рамка (синия)) */
.site-btn-border {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #007aff;
    color: #007aff;
    background: #ffffff;
}

/* БЛОК КРЕСТИК */
.site-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

/* БЛОК ТРОЕТОЧИЕ */
.site-more {
    position: absolute;
    width: 18px;
    height: 4px;
}
.site-more::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #0b192c;
}
.site-more::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #0b192c;
}
.site-more span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #0b192c;
}

/* БЛОК СТРЕЛКА */
.site-next {
    position: absolute;
    width: 24px;
    height: 24px;
}
.site-next::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 8px;
    width: 10px;
    height: 2px;
    transform: rotate(45deg);
    background: #858d97;
}
.site-next::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 8px;
    width: 10px;
    height: 2px;
    transform: rotate(-45deg);
    background: #858d97;
}

.registration-offer__content {
    margin-top: 12px;
    margin-bottom: 15px;
    position: relative;
    padding: 10px;
    border: 1px solid #0A83FE;
    border-radius: 2px;
}
.registration-offer__text {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: #0B192C;
}
.registration-offer__link {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0;
    color: #007AFF;
}
.registration-offer__name {
    position: absolute;
    bottom: 4px;
    right: 10px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0;
    color: #8A0AEE;
}

@media (max-width: 325px) {
    .app-download__desc {
        margin-left: 5px;
    }
    .app-download__link {
        padding: 5px 10px;
    }
}