.hotel__header {
    position: relative;
    height: 325px;
    margin: 0 -15px;
}
.hotel__header-img {
    width: 100%;
    height: 100%;
}
.hotel__header-menu {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.hotel__header-side {
    display: flex;
    align-items: center;
}
.hotel__header-option {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.8);
}
.hotel__header-option:last-child {
    margin-right: 0;
}

.hotel__data {
    padding: 20px 0;
}

.hotel__title {
    margin-bottom: 8px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0;
    color: #282828;
}

.hotel__rating {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.hotel__rating-item {
    margin-right: 5px;
}
.hotel__rating-item:last-child {
    margin: 0;
}

.hotel__location {
    display: flex;
    margin-bottom: 7px;
}
.hotel__location-icon {
    margin-right: 12px;
    margin-left: 2px;
}
.hotel__location-text {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    color: #838e98;
}

.hotel__advice {
    display: inline-flex;
    align-items: center;
    border-radius: 2px;
    padding: 6px 15px;
    padding-left: 11px;
    background: #007aff;
}
.hotel__advice-icon {
    margin-right: 7px;
}
.hotel__advice-text {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    color: #ffffff;
}

.hotel__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
    padding: 30px 0;
    margin-bottom: 20px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.hotel__info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.333%;
}
.hotel__info-value {
    margin-bottom: 10px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
    color: #282828;
}
.hotel__info-text {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    color: #838285;
}

.hotel__reviews {
    margin-bottom: 40px;
}
.hotel__reviews-show {
    width: 100%;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    padding: 13px;
    color: #007aff;
    border: 1px solid #007aff;
}
.hotel__reviews-more {
    position: absolute;
    bottom: 101%;
    left: 22px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__reviews-text {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__reviews-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}
.hotel__reviews-name {
    display: inline-block;
    margin-bottom: 5px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__reviews-date {
    margin-left: 6px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    color: #838e98;
}
.hotel__reviews-location {
    display: flex;
    align-items: center;
}
.hotel__reviews-flag {
    margin-right: 8px;
}
.hotel__reviews-intro {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}
.hotel__reviews-side {
    display: flex;
}
.hotel__reviews-avatar {
    border-radius: 50%;
    margin-right: 16px;
}
.hotel__reviews-info {
    margin-bottom: 17px;
}
.hotel__reviews-item {
    margin-left: 1px;
    position: relative;
    padding: 24px 16px;
    padding-left: 22px;
    padding-bottom: 16px;
    margin-bottom: 19px;
    border: 1px solid #dadada;
}
.hotel__reviews-body {
    padding-bottom: 18px;
    margin-bottom: 24px;
    border-bottom: 1px solid #dadada;
}
.hotel__reviews-item.has-more-review {
    margin-top: 33px;
}
.hotel__reviews-item:last-child {
    margin-bottom: 0;
}
.hotel__reviews-item.hotel__reviews-item--positive {
    border-left: 3px solid #0fa30C;
}
.hotel__reviews-item.hotel__reviews-item--negative {
    border-left: 3px solid #ff3B30;
}
.hotel__reviews-icon {
    position: absolute;
    top: -4px;
    left: -5px;
    z-index: 5;
}
.hotel__reviews-message {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__reviews-title {
    margin-right: 8px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__reviews-total {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0;
    color: #007aff;
}
.hotel__reviews-rate {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.3px;
    text-align: center;
    border-radius: 2px 0 2px 2px;
    color: #ffffff;
    background: #0b192c;
}

.hotel__comfort {
    margin-bottom: 21px;
    padding-bottom: 18px;
    border-bottom: 1px solid #dadada;
}
.hotel__comfort-title {
    margin-bottom: 20px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__comfort-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.hotel__comfort-item {
    width: 43%;
    margin-bottom: 15px;
}
.hotel__comfort-pic {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    margin-right: 15px;
}
.hotel__comfort-text {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    color: rgba(16, 16, 16, 0.85);
}
.hotel__comfort-show {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    color: #2a3a4d;
    background: none;
}

.hotel__remember {
    margin-bottom: 17px;
}
.hotel__remember-item {
    padding: 21px 17px;
    display: flex;
    margin-bottom: 9px;
    background: #ffffff;
    border: 1px solid #dadada;
}
.hotel__remember-item:last-child {
    margin-bottom: 0;
}
.hotel__remember-icon {
    margin-right: 17px;
    flex-shrink: 0;
}
.hotel__remember-title {
    margin-bottom: 1px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0;
    color: #272727;
}
.hotel__remember-desc {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    color: #272727;
}

.hotel__rooms {
    margin: 0 -15px;
    margin-bottom: 30px;
}
.hotel__rooms-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.hotel__rooms-item {
    background: #FFFFFF;
    border: 1px solid transparent;
    margin-bottom: 12px;
}
.hotel__rooms-item:last-child {
    margin-bottom: 0;
}
.hotel__rooms-title {
    margin-right: 20px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    color: #0369d9;
}
.hotel__rooms-tags {
    margin-bottom: 18px;
}
.hotel__rooms-tag {
    margin-bottom: 4px;
    margin-right: 4px;
    display: inline-block;
    padding: 3px 4px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0;
    border-radius: 2px;
    color: #0b192c;
    border: 1px solid #000000;
}
.hotel__rooms-info {
    margin-bottom: 12px;
}
.hotel__rooms-benefit {
    position: relative;
    padding-left: 20px;
    margin-bottom: 6px;
}
.hotel__rooms-benefit:last-child {
    margin-bottom: 0;
}
.hotel__rooms-check {
    position: absolute;
    top: 2px;
    left: 0;
}
.hotel__rooms-remove {
    margin: 0 auto;
    display: none;
    align-items: center;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0;
    color: #007aff;
}
.hotel__rooms-remove.show {
    display: inline-flex;
}
.hotel__rooms-icon {
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #007aff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.hotel__rooms-bonus span {
    color: #0fa30c;
    font-weight: 600;
}
.hotel__rooms-bonus {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    color: #282828;
}
.hotel__rooms-bed,
.hotel__rooms-people {
    display: flex;
    align-items: center;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    color: #282828;
}
.hotel__rooms-bed {
    margin-bottom: 5px;
}
.hotel__rooms-price {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.hotel__rooms-top {
    padding: 0 15px;
    padding-top: 14px;
    padding-bottom: 9px;
    transition: 0.2s ease-out;
    border: 1px solid transparent;
    border-bottom: none;
}
.hotel__rooms-top.active {
    border-color: #007aff;
}
.hotel__rooms-mid {
    padding: 8px 15px;
    transition: 0.2s ease-out;
    border: 1px solid transparent;
}
.hotel__rooms-img {
    width: 56px;
    height: 56px;
}
.hotel__rooms-bot {
    padding: 20px 17px;
    display: none;
    border: 1px solid transparent;
    border-top: none;
}
.hotel__rooms-bot.active {
    display: block;
    border-color: #007aff;
}
.hotel__rooms-suptitle {
    margin-bottom: 11px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    color: #272727;
}
.hotel__rooms-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
}
.hotel__rooms-btn svg {
    margin-right: 2px;
}
.hotel__rooms-btn svg:last-child {
    margin-right: 0;
}
.hotel__rooms-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}
.hotel__rooms-stat {
    display: flex;
    border-radius: 2px;
    border: 1px solid #dadada;
}
.hotel__rooms-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 19px;
}
.hotel__rooms-choose:last-child {
    margin-bottom: 0;
}
.hotel__rooms-stat--bottom {
    border: none;
}
.hotel__rooms-stat--bottom .hotel__rooms-btn {
    margin-right: 10px;
    padding: 10px 15px;
    width: auto;
    border-radius: 2px;
    border: 1px solid #dadada;
}
.hotel__rooms-stat--bottom .hotel__rooms-btn:last-child {
    margin-right: 0;
}
.hotel__rooms-stat--bottom .hotel__rooms-btn.active {
    border-color: #007aff;
}
.hotel__rooms-stat--bottom .hotel__rooms-btn.active .hotel__rooms-radio::before {
    opacity: 1;
}
.hotel__rooms-radio {
    margin-right: 7px;
    position: relative;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #dadada;
}
.hotel__rooms-radio::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 4px;
    border-radius: 50%;
    opacity: 0;
    background: #007aff;
}
.hotel__rooms-notes {
    margin-bottom: 16px;
}
.hotel__rooms-note {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    color: #191919;
}
.hotel__rooms-note:last-child {
    margin-bottom: 0;
}
.hotel__rooms-note::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #191919;
}
.hotel__rooms-note--green {
    color: #0fa30c;
}
.hotel__rooms-note--green::before {
    color: #0fa30c;
}
.hotel__rooms-next {
    padding: 13px;
    display: block;
    width: 100%;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    border-radius: 2px;
    color: #ffffff;
    background: #007aff;
}
.hotel__rooms-mid.active {
    border-color: #dadada;
}
.hotel__rooms-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hotel__rooms-reserve {
    width: 143px;
    padding: 14px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    border-radius: 2px;
    color: #ffffff;
    background: #007aff;
}
.hotel__rooms-reserve.hide,
.hotel__rooms-total.hide {
    display: none;
}
.hotel__rooms-nights {
    margin-bottom: 3px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    color: #191919;
}
.hotel__rooms-benefits {
    margin-bottom: 18px;
}
.hotel__rooms-include {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    color: rgba(39, 39, 39, 0.8);
}
.hotel__rooms-nights span {
    font-weight: 600;
}
.hotel__rooms-sum {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    color: #282828;
}
.hotel__rooms-sum svg {
    margin-left: 5px;
}
.hotel__rooms-total {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0;
    color: #ff3b30;
}
.hotel__rooms-total svg {
    margin-right: 5px;
}
.hotel__rooms-bed span,
.hotel__rooms-people span {
    margin-right: 6px;
}

.hotel__availability {
    margin-bottom: 20px;
}
.hotel__availability-title {
    margin-bottom: 15px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__availability-booking {
    padding: 20px 16px;
    background: #ffffff;
    border: 1px solid #dadada;
}
.hotel__availibility-search {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__availibility-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.hotel__availibility-edit {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    color: #007aff;
    background: none;
}
.hotel__availibility-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hotel__availibility-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}
.hotel__availibility-item:first-child {
    margin-right: 16px;
}
.hotel__availibility-item::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 49px;
    width: 1px;
    background: #dadada;
}
.hotel__availibility-item:last-child::before {
    display: none;
}
.hotel__availibility-name {
    margin-bottom: 8px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__availibility-date {
    margin-bottom: 6px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0;
    color: #007aff;
}
.hotel__availibility-hours {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    color: rgba(51, 51, 51, 0.6);
}

.hotel__rules {
    margin-bottom: 25px;
}
.hotel__rules-list {
    margin: 0 -15px;
}
.hotel__rules-title {
    margin-bottom: 16px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__rules-link {
    position: relative;
    display: block;
    padding: 13px 15px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__rules-next {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.hotel__rules-option:first-child {
    border-top: 1px solid #ebebeb;
}
.hotel__rules-option {
    border-bottom: 1px solid #ebebeb;
}

.hotel__description {
    margin-bottom: 32px;
}
.hotel__description-title {
    margin-bottom: 10px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0;
    color: #333333;
}
.hotel__description-desc {
    margin-bottom: 15px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #000000;
}
.hotel__description-more {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    color: #007aff;
    background: none;
}

.hotel__benefits {
    margin-bottom: 16px;
}
.hotel__benefits-item {
    padding: 14px 15px;
    background: #ffffff;
    border-radius: 2px;
    margin-bottom: 8px;
}
.hotel__benefits-item:last-child {
    margin-bottom: 0;
}
.hotel__benefits-title {
    margin-bottom: 7px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    color: #0b192c;
}
.hotel__benefits-desc {
    margin-bottom: 16px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    color: #0b192c;
}
.hotel__benefits-read {
    padding: 9px 16px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    color: #007aff;
    border: 1px solid #007aff;
    border-radius: 2px;
}

.hotel__rooms-about {
    margin-bottom: 12px;
}
.hotel__rooms-selected {
    margin-bottom: 5px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    color: #191919;
}
.hotel__rooms-includes {
    margin-bottom: 9px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    text-align: center;
    color: #272727;
}
.hotel__rooms-dates {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
    color: #272727;
}

.hotel__rooms-selecting {
    padding-bottom: 32px;
    margin: 0 -17px;
    margin-bottom: 17px;
    border-bottom: 1px solid #dadada;
}
.hotel-bookings__list {
    margin-bottom: 18px;
}
.hotel-bookings__variants {
    display: inline-block;
    max-width: 90px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    color: #0b192c;
}
.hotel-bookings__price {
    margin-bottom: 4px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    text-align: right;
    color: #0b192c;
}
.hotel-bookings__price-discount {
    margin-right: 9px;
    color: #0fa30c;
    text-decoration-line: line-through;
}
.hotel-bookings__taxes {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    text-align: right;
    color: #0b192c;
}
.hotel-bookings__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hotel-bookings {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 16px 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    visibility: hidden;
    opacity: 0;
    z-index: 901;
    transition: 0.2s ease-out;
    background: #eff6ff;
}
.hotel-bookings.show {
    top: 0;
    visibility: visible;
    opacity: 1;
}
.hotel-bookings__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 20px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    margin-bottom: 12px;
    color: #0b192c;
}
.hotel-bookings__item:last-child {
    margin-bottom: 0;
}
.hotel-bookings__count {
    margin-right: 3px
}
.hotel-bookings__value {
    margin-left: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
    white-space: nowrap;
    color: #007aff;
    text-decoration: underline solid #007aff;
}
.hotel-bookings__remove {
    position: absolute;
    right: 0;
    top: 65%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #dedede;
}

.hotel-complete {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 18px;
    padding-bottom: 21px;
    border-radius: 2px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-out;
    background: #0b192c;
}
.hotel-complete.show {
    visibility: visible;
    opacity: 1;
}
.hotel-complete__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #858d97;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hotel-complete__title,
.hotel-complete__variants {
    margin-bottom: 2px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    color: #ffffff;
}
.hotel-complete__variants {
    margin-bottom: 9px;
}
.hotel-complete__taxes {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    color: #ffffff;
}

.hotel-last {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 24px 0;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-out;
    background: #0b192c;
}
.hotel-last.show {
    opacity: 1;
    visibility: visible;
}
.hotel-last__desc {
    margin: 0 auto;
    max-width: 80%;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
}

.hotel-search {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 901;
    transform: translate(-50%, -50%);
    width: 95%;
    padding: 16px 12px;
    padding-bottom: 24px;
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-out;
    background: #ffffff;
}
.hotel-search.show {
    opacity: 1;
    visibility: visible;
}
.hotel-search__title {
    margin-bottom: 16px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0;
    color: #0b192c;
}
.hotel-search__submit {
    width: 100%;
    background: #007aff;
    border-radius: 2px;
    padding: 10px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    color: #ffffff;
    transition: 0.2s ease-out;
}
.hotel-search__field {
    position: relative;
}
.hotel-search__label {
    position: absolute;
    left: 12px;
    top: 9px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    color: #767676;
}
.hotel-search__input {
    width: 100%;
    padding: 9px 12px;
    padding-top: 23px;
    border-radius: 2px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    color: #333333;
}
.hotel-search__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11px;
}
.hotel-search__row:last-child {
    margin-bottom: 0;
}
.hotel-search__submit:active {
    background: #0959af;
}
.hotel-search__icon {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.hotel-search__row--double .hotel-search__field {
    width: 48%;
}
.hotel-search__row--tripple .hotel-search__field {
    width: 32%;
}

.hotel-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}