.profile {
    padding-top: 28px;
    margin-bottom: 20px;
}
.profile__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 23px;
}
.profile__img {
    width: 42px;
    height: 42px;
}
.profile__intro {
    margin-bottom: 4px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    color: #0b192c;
}
.profile__desc {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    color: #0b192c;
}
.profile__info {
    max-width: 75%;
}
.profile__table-item {
    padding: 12px 0;
    border-bottom: 1px solid #e3e3e3;
}
.profile__table-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile__table-title {
    margin-bottom: 2px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    color: #0b192c;
}
.profile__table-subtitle {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    color: #0b192c;
}
.profile__table-desc {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    color: #0b192c;
}
.profile__table-btn {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    color: #1785ed;
    background: none;
}
.profile__table-row {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}
.profile__table-show {
    padding-top: 20px;
    display: none;
}
.profile__table-status {
    margin-left: 3px;
    padding: 4px;
    width: 92px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0;
    text-align: center;
    border-radius: 2px;
    color: #ffffff;
}
.profile__table-label {
    margin-bottom: 4px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    color: #0b192c;
}
.profile__table-input {
    padding: 15px 12px;
    display: block;
    width: 100%;
    border-radius: 2px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    border: 1px solid #858d97;
    background: transparent;
    color: #767676;
}
.profile__table-field {
    margin-bottom: 20px;
}
.profile__table-field:last-child {
    margin-bottom: 0;
}

/* Состояния */
.profile__table-btn.is-active {
    color: #bfbfbf;
}
.profile__table-status.is-verified {
    background: #0fa30c;
}

@media (max-width: 330px) {
    .profile__table-status {
        width: 80px;
        margin-left: 5px;
    }

    .profile__intro {
        font-size: 20px;
    }

    .profile__desc {
        font-size: 13px;
    }

    .profile__table-desc {
        font-size: 13px;
    }

    .profile__table-status {
        padding: 3px;
    }

    .profile__table-title {
        margin-bottom: 0;
        font-size: 15px;
        line-height: 20px;
    }
}
